<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<c:set var="contextPath" value="${pageContext.request.contextPath }" />
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<head>
    <%@ include file="/WEB-INF/views/include/head.jsp" %>
</head>

<body>
    <!-- Left Panel -->
    <%@ include file="/WEB-INF/views/include/leftsidebar.jsp" %>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <%@ include file="/WEB-INF/views/include/nav.jsp" %>
        <!-- /#header -->
        <!-- Content -->
        
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <%@ include file="/WEB-INF/views/include/footer.jsp" %>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->   
    
    <%@ include file="/WEB-INF/views/include/plugin.jsp" %>
</body>