<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
		<typeAlias alias="EncyclopediaEntity" type="kr.co.plantlibrary.plant_encyclopedia.EncyclopediaEntity"/>
		<typeAlias alias="LoginEntity" type="kr.co.plantlibrary.login.LoginEntity"/>
		<typeAlias alias="BoardDTO" type="kr.co.plantlibrary.board.BoardDTO"/>
		<typeAlias alias="ReplyDTO" type="kr.co.plantlibrary.board.ReplyDTO"/>
	</typeAliases>
</configuration>