<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
		<typeAlias alias="EncyclopediaEntity" type="kr.co.plantlibrary.plant_encyclopedia.EncyclopediaEntity"/>
		<typeAlias alias="LoginEntity" type="kr.co.plantlibrary.login.LoginEntity"/>
		<typeAlias alias="BoardDTO" type="kr.co.plantlibrary.board.BoardDTO"/>
		<typeAlias alias="ReplyDTO" type="kr.co.plantlibrary.board.ReplyDTO"/>
		<typeAlias alias="DiseaseEntity" type="kr.co.plantlibrary.disease_encyclopedia.DiseaseEntity"/>
		<typeAlias alias="PestEntity" type="kr.co.plantlibrary.pest_encyclopedia.PestEntity"/>
		<typeAlias alias="BookmarkEntity" type="kr.co.plantlibrary.bookmark.BookmarkEntity"/>
		<typeAlias alias="ModifyRequestEntity" type="kr.co.plantlibrary.modifyrequest.ModifyRequestEntity"/>
		<typeAlias alias="BotanicalGardenVO" type="kr.co.plantlibrary.botanical_garden.BotanicalGardenVO"/>
		<typeAlias alias="SearchVO" type="kr.co.plantlibrary.plant_encyclopedia.SearchVO"/>
		<typeAlias alias="BoardLikeEntity" type="kr.co.plantlibrary.like.BoardLikeEntity"/>
		<typeAlias alias="ReportEntity" type="kr.co.plantlibrary.report.ReportEntity"/>
	</typeAliases>
</configuration>